.tmpl-app{ margin: 0; }
.tmpl-app #page-wrapper{ margin: 0; padding: 0; }
.list-location{
    font-weight: bold;
    height: 400px;
    list-style-type: none;
    overflow: auto;
    padding: 0;
}

.list-team{
    font-weight: normal;
    list-style-type: none;
    margin: 0 0 0 20px;
}
a, a:focus{
        outline: medium none;
}
.remove-team-table, .remove-team-tables{ color: red;  cursor: pointer; }

.form-tournament-teamjoin .tab-content .tab-pane{ margin: 5px 0 0 0; }
.form-tournament-teamjoin .fa-hand-o-right{ 
    cursor: pointer;
    font-size: 20px;
}
.form-tournament-teamjoin .fa-hand-o-right.fa-2x{ 
    font-size: 30px;
}
.form-tournament-teamjoin .data-team{
    cursor: pointer;
}
.form-tournament-teamjoin .data-team .fa-hand-o-right:hover,
.form-tournament-teamjoin .data-team:hover .fa-hand-o-right{
    color: #1D9D74;    
}
.form-tournament-teamjoin .ui-state-default{ margin: 5px 0 0;
    padding: 3px 15px;
    width: 60%;
    cursor: move;
}
.form-tournament-teamjoin .ui-state-default{ color: black; }
.form-tournament-teamjoin .ui-state-default .icon-move
{
    color: #1c94c4;
    margin: 0 5px 0 0;
}
.form-tournament-teamjoin .ui-state-default .icon-remove
{
    
}
.form-tournament-teamjoin .ui-state-default .btn-remove-item{ margin: 0 0 0 5px; color: red; }

.tab-content{
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 5px;
    border-radius: 0 0 5px 5px;
}

.tab-table .list-team-in-table{ 
     font-weight: bold;
    height: 350px; 
    overflow: auto;
    padding: 0;
}




/* matches */
 
#main-content-backend{background: #444;height: 450px; width: 100%;}
.main-tab{}
.main-tab ul{list-style: none; margin: 0; padding: 0; background: #3E3E3E; height: 30px;}
.main-tab ul li{display: inline-block; color: #fff; font-weight: bold; height: 30px}
.main-tab ul span{background: #383838; margin-top: -10px; padding: 7px 15px; color: #fff}
.main-tab ul li a{color: #99FF88; font-weight: normal; display: block; padding: 5px 15px;  width: 100%; text-align: center;}
.main-tab ul li a:hover{text-decoration: none; color:#fff; background: #0088CC; }
.cach-top{margin: 10px 0px;}
.no-border{border: none;}
.overthrow{overflow: auto}
.border-table{border: 1px solid #383838;}
.standings-container table tr th{text-align: center;color: #fff; background: #3C3C3C;border: 1px solid #444444;}
.standings-container table tr td{border: 1px solid #383838; background: #444444;}
.roud-standing-matches{max-width: 2000px; background: #444444}
.roud-standing-matches table tr th{
    font-size: 12px; font-weight: normal; background: #3C3C3C;
    border-bottom: 1px solid #383838;
    border-right: 1px solid #666;
}
.roud-standing-matches table tr th:last-child{ border-right: 1px solid #383838; }
.roud-standing-matches table tr td{ border: none; background: #444444 !important;}
.begin-left{float: left}
.item-team-bg{width: 200px; height: 25px; background: #626262; position: relative;}
.boder-item-up{ border-top-left-radius: 5px; border-top-right-radius: 5px}
.boder-item-dn{ border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; margin-top: 2px;}
.border-l-top{border-top-left-radius: 5px;}
.border-l-bottom{border-bottom-left-radius: 5px;}
.td-head-end-table{background: #444444; width: 20%;}
.td-content-table{background: #444444; width: 60%;}
.text-center-cbv{text-align: center;}
.table-item-team-cbv{width: 250px;}
.table-col-round{width: auto;}
.table-col-round tr td{width: 200px;}
.matche-head{ display: block; }
.table-round-0  .matche-head{ display: none; }
.table-round-1 .matche-head{ display: none; }
.main-item{font-size: 12px;}
.head-item-team{margin-right: -22px;padding-top: 12px; }
.head-item-team a{color: #959595; font-size: 12px}
.head-item-team a:hover{color: #fff;}
.head-item-team:hover ul{display: block; }
.left-ct{width: 30px; background: #888888; height: 100%; text-align: center; color: #000; float: left;padding: 4px}
.right-ct{color: #fff; padding: 4px 15px; display: block; margin-left: 25px;}
.head-item-team li{width: 100%;}
.table-round-2 .main-item{margin: 34px 0 34px -22px}
.table-round-2 .head-item-team{margin: 33px 0 34px }
.td-boder-lk{max-width: 0;}
.td-boder-lk .end-item-tem{margin-left: -12px;padding-top: 26px;width: 0;}
.td-boder-lk .end-item-tem .boder-gom{border-bottom: 1px solid #fff;border-right: 1px solid #fff;border-top: 1px solid #fff;margin-left: -20px;padding: 34px 0;}
.td-boder-lk .ke-ngang-end{border-top: 1px solid #fff;margin: -36px -6px 6px -13px;}

.table-round-3 .main-item{margin: 106px 0 98px -22px;}
.table-round-3 .head-item-team{margin: 102px 0 106px;}
.table-round-3 .td-boder-lk .end-item-tem{padding-top: 60px;}
.table-round-3 .td-boder-lk .end-item-tem .boder-gom{padding: 67px 0;}
.table-round-3 .td-boder-lk .ke-ngang-end{margin: -67px -6px 6px -13px;}

.table-round-4 .main-item{margin: 238px 0 238px -22px;}
.table-round-4 .head-item-team{margin: 235px 0 106px;}
.table-round-4 .td-boder-lk .end-item-tem{padding-top: 132px;}
.table-round-4 .td-boder-lk .end-item-tem .boder-gom{padding: 133px  0;}
.table-round-4 .td-boder-lk .ke-ngang-end{margin: -134px -6px 6px -13px;}


.caret{ border-top: 4px solid #888888; }
#show-form-edit-matches .modal-dialog{ min-width: 800px }
.detail-matches{height: auto; z-index: 1000;   border-radius: 10px; margin: 0 auto; }
.detail-matches h4{line-height: 40px; font-size: 20px;  font-weight: bold; display: block; margin: 0;}
.matchup{text-align: center; margin-top: -30px;}
.matchup .versus{float: left; width: 20%; bottom: 0; color: #999999; margin-top: 69px; font-weight: bold}
.matchup .participant {float: left; width: 40%; background: #404040; height: 150px; border: 1px solid #383838;position: relative}
.participant .contents{margin: 20px 0 0}
.participant .contents .name{color: #747474; font-style: italic;}
.footer-team{width: 100%; background: #505050; height: 0; height: 25px; position: absolute; bottom: 0;}
.footer-team span{font-weight: bold;   font-size: 14px;}
.overall-score-set .score{width: 100%; }
.overall-score-set .score .divider h6{float: left; font-weight: bold;font-size: 14px; margin: -11px 0 7px;}
.overall-score-set .match-details-end{float: left; margin-left: 15px; text-align: left;}
.modal-header{border-bottom: none;}
.modal-footer {border-top: 1px solid #383838;}
.modal-footer ul li{font-size: 14px;}



.form-matches .btn-change-team{
    font-size: 1.5em;
    position: absolute;
    right: 5px;
    top: 3px;
    cursor: pointer;
}
.form-matches .btn-change-team:hover{
    color: yellow;
}
.rounds-table{ position: relative; }
.form-matches  .list-team-matches{ 
    display: none; 
    position: absolute;
    z-index: 99;
    width: 162px;
}
.win-of-mb .left-ct{ color: yellow;  }
.win-of-mb .right-ct{ color: yellow;  }