.list-location{
    list-style-type: none;
    font-weight: bold;
    padding: 0;
}

.list-team{
    font-weight: normal;
    list-style-type: none;
    margin: 0 0 0 20px;
}
a, a:focus{
        outline: medium none;
}
.remove-team-table, .remove-team-tables{ color: red;  cursor: pointer; }

.form-tournament-teamjoin .tab-content .tab-pane{ margin: 5px 0 0 0; }
.form-tournament-teamjoin .fa-hand-o-right{ 
    cursor: pointer;
    font-size: 20px;
}
.form-tournament-teamjoin .fa-hand-o-right.fa-2x{ 
    font-size: 30px;
}
.form-tournament-teamjoin .data-team{
    cursor: pointer;
}
.form-tournament-teamjoin .data-team .fa-hand-o-right:hover,
.form-tournament-teamjoin .data-team:hover .fa-hand-o-right{
    color: #1D9D74;    
}
.form-tournament-teamjoin .ui-state-default{ margin: 5px 0 0;
    padding: 3px 15px;
    width: 60%;
    cursor: move;
}
.form-tournament-teamjoin .ui-state-default{ color: black; }
.form-tournament-teamjoin .ui-state-default .icon-move
{
    color: #1c94c4;
    margin: 0 5px 0 0;
}
.form-tournament-teamjoin .ui-state-default .icon-remove
{
    
}
.form-tournament-teamjoin .ui-state-default .btn-remove-item{ margin: 0 0 0 5px; color: red; }

.tab-content{
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 5px;
    border-radius: 0 0 5px 5px;
}